[Unit]
Description=A service that launches flask backend using guinicorn
After=multi-user.target

[Service]

WorkingDirectory=/home/moktar/Downloads/
Environment="PATH=/home/moktar/IoT_projects/PI-image-uploader/venv/bin:$PATH"
Environment="VIRTUAL_ENV=/home/moktar/IoT_projects/PI-image-uploader/venv/"
Environment="DISPLAY=:0"
#ExecStart= python3 webserver.py
Environment="HOME=/home/moktar" 
ExecStart=/bin/sh -c 'cd  /home/moktar/IoT_projects/PI-image-uploader && . venv/bin/activate && python3 webserver.py'
Restart=always

[Install]
WantedBy=multi-user.target
#WantedBy=xorg.target
#WantedBy=graphical.target
