[Unit]
Description=A service that launches flask backend using guinicorn
After=multi-user.target

[Service]
WorkingDirectory=/home/moktar/IoT_projects/image_loader_rpi
Environment=PATH=/home/moktar/IoT_projects/image_loader_rpi/my_venv/bin:$PATH
Environment=VIRTUAL_ENV=/home/moktar/IoT_projects/image_loader_rpi/my_venv
Environment=DISPLAY=:0
Environment=HOME=/home/moktar
ExecStart=/bin/sh -c 'cd /home/moktar/IoT_projects/image_loader_rpi/ && . my_venv/bin/activate && python3 webserver.py'
Restart=always

[Install]
WantedBy=multi-user.target
