<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image loader</title>
  </head>
  <body>
    <p>Welcom to the Image Loader app:</p>
    <br />
    <form method="POST" enctype="multipart/form-data">
      <label for="Uploadimage">Upload image:</label>
      <input
        type="file"
        name="Uploadimage"
        accept=".jpg, .jpeg, .png"
        required
        id="fileInput"
      />
      <br />
      <input type="button" onclick="uploadImage()" value="uploadButton" />
      <div id="response"></div>
    </form>
    <br />
    <button type="button">Display image</button>
    <br />
    <script src="upload.js"></script>
  </body>
</html>
